:host {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  height: 100%;
  width: 100%;

  .l-settings {
    padding-bottom: 24px;
  }

  .l-additional-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
}
